body{
	margin:0;
	padding: 0;
}
.top{
	background-color: #000000;
	color: #f4f5f8;
}
.judul{
	font-size: 12pt;
    padding: 10px;
    font-weight: bold;
}
.link{
	margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a slight shadow */
    display: none; /* Initially hidden */
}

#closePopup {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
